@import url(http://fonts.googleapis.com/css?family=Poiret+One);
.font{font-family: 'Poiret One', cursive;}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poiret One', cursive;
    position: relative;
    z-index: -1;
    background-color: rgb(236, 188, 188);
}
#menucontainer{
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
}
#logocontainer{
    height: 127px;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
#logo{
    height: 127px;
    float: left;
}
#menu{
    height: 127px;
    margin: 0;
    padding: 0;
    top: 0;
}
.menuitem{
    float:left;
    width:145px;
    height: 127px;
    background-size: 100%;
    text-align:center;
    color: #FFFFFF;
    text-decoration: none;
}

.first{background-image: url(../img/menu/2.png);} .first > .menu{padding-left: 38px;}
.second{background-image: url(../img/menu/3.png);} .second > .menu{padding-left: 31px;}
.third{background-image: url(../img/menu/4.png);} .third > .menu{padding-left: 25px;}
.fourth{background-image: url(../img/menu/5.png);} .fourth > .menu{padding-left: 11px;}
.fifth{background-image: url(../img/menu/6.png);} .fifth > .menu{padding-left: 19px;}

.menu{
    display: inline;
    height: 127px;
    vertical-align: middle;
    line-height: 150px;
    font-size: 18px;
}
.menu:hover{font-size: 23px;}

/* slides start */

#slider{
    width: 100%;
    position: relative;
    z-index: -1;
    top: 0px;
}
.slides{
    width: 100%;
    list-style-type: none;
}
#slide1{
    width: 100%;
}
.title{
    width: 121px;
    margin: 0 auto;
    padding-top: 34px;
    padding-left: 0;
    padding-bottom: 20px;
}
.csslider1 {
display: inline-block;
position: relative;
width: 100%;
padding-top: 0;
}
.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}
/* about us start */

#aboutus{
    width: 100%;
    background-image: url(../img/pinkbackground-01-01.png);

    position: relative;
    z-index: -1;
}
#pinklogo{
    width: 147px;
    margin: auto;
    margin-top: 23px;
    padding: 0;
}
#aboutusdescription{
    max-width: 480px;
    margin: 32px auto;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 69px;
    color: white;
    padding: 47px;
    text-align: justify;
}

/* services start */

#services{
    background-image: url(../img/bluebackground-01.png);
    width: 100%;
    padding-bottom: 40px;
    position: relative;
    z-index: -1;
}

.servicecircle{
    float: left;
    width: 170px;
    height: 170px;
    margin: 3px 58px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 130px;
    color: white;
    padding: 35px;
    text-align: center;
    background-color: rgba(64, 60, 117, 0.51); 
}
.servicetitle{
    text-align: -webkit-center;
    font-size: 19px;
    width: 174px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.servicedescription{
    margin-top: 11px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: -5px;
    margin-right: -5px;    
}
.serviceicon{
    text-align: center;
    padding-left: 0px;
    margin-bottom: 7px;
    margin-top: -24px;
}
/* portfolio start */

#portfolio{
    width: 100%;
    background-image: url(../img/pinkbackground-01-01.png);
    padding-bottom: 20px;
    position: relative;
    z-index: -1;
}
#PortfolioCircleFirstRow, #PortfolioCircleSecondRow{
    width: 960px;
    margin: 0 auto;
    padding-left: 0px
}
.portfoliocircles{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 31px;
    border-radius: 90px;
    color: white;
    padding: 39px;
    text-align: center;
    background-color: 82163F;
    background-image: url(../img/portfolio/website%20image-02.png);


}
.portfoliocircles:hover{
    background-image: url(../img/portfolio/website%20image%20hover-02.png);
}
.port1{
    background-image: url(../img/portfolio/1.png);
}
.port2{
    background-image: url(../img/portfolio/2.png);
}
.port3{
    background-image: url(../img/portfolio/3.png);
}
.port4{
    background-image: url(../img/portfolio/4.png);
}
.portfoliobtn{
    border: 1.4px solid white;
    width: 87px;
    height: 22px;
    border-radius: 7px;
    background-color: transparent;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}
.portfoliobtn:hover{
    background-color: rgba(118, 118, 118, 0.63);
}
.btnlink{
    text-decoration: none;
    color: white;
}


/* contact us start */


#contactus{
    width: 100%;
    background-image: url(../img/bluebackground-01.png);
    position: relative;
    z-index: -1;
    padding-bottom: 20px;
}
#contactus> ul{
    padding: 0;
}
#contactussocialbuttons{
   padding-top: 20;
    max-width: 300px;
}
.contactusicon{
    height: 35px;
}
.contactusdetails{
    display: inline-flex;
    line-height: 0;
}
#form{
    align-content: center;
    margin-top: 20px;
    position: relative;
    z-index: +1;
}
#form > ul{
    padding: 0;
}
#formname{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    width: 204px;
    height: 47px;
    font-size: medium;
    padding: 10px;
    margin-right: 11px;
}
#formemail{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    width: 291;
    height: 47px;
    font-size: medium;
    padding: 10px;
}
#formmessage{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    width: 400px;
    height: 147px;
    font-size: medium;
    padding: 10px;
    margin-top: 16px;
}
#submit{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10;
    width: 112px;
    height: 37px;
    margin-top: 14px;
    float: right;
    font-family: inherit;
    font-size: 14px;
}
#submit:hover{
    background-color: rgba(255, 255, 255, 0.24);    
}
#footershadow{
    margin-top: 43px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0),black);
    opacity: 0.5;
    background-blend-mode: multiply;
    padding: 0;
}
#footershadow2{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0),black);
    opacity: 0.5;
    background-blend-mode: multiply;
    padding: 0;
}


/* footer start */


#footer{
    background-image: url(../img/purple%20background-01.png);
    width: 100%;
    height: 200px;
    background-size: 1706px;
}
#footertalk{
    align-content: center;
    width: 570px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 0;
}
#footerFirstLine{
    color: white;
    text-align: center;
    font-size: 14px;
}
#footerSecondtLine{
    color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
    text-align: center;
    font-family: monospace;
    margin-top: 60px;

}
#socialbuttons{
    width: 153px;
    height: 40px;
    margin: 0 auto;
}
.footericon{
    margin: 0 6px;
    width: 35px;
    height: 35px;
}
#menu ul{padding-left: 0px;}
@media screen and (max-width: 1045px){
    #menucontainer{
        height: 80px;
    }
    .menuitem{
        width: 95px;
        height: 80px;    
    }
    .menu{
        line-height: 90px;
        font-size: 16px;
    }
    #logo{
        height: 80px;
    }
}
@media screen and (max-width: 1045px){
    #menucontainer{
        height: 80px;
    }
    .menuitem{
        width: 95px;
        height: 80px;    
    }
    .menu{
        line-height: 90px;
        font-size: 16px;
    }
    #logo{
        height: 80px;
    }
}
@media screen and (max-width: 690px){
    #menucontainer{
        height: 70px;
    }
    .menuitem{
        width: 85px;
        height: 70px;    
    }
    .menu{
        line-height: 80px;
        font-size: 13px;
    }
    #logo{
        height: 70px;
    }
}
@media screen and (max-width: 690px){
    #menucontainer{
        height: 60px;
    }
    .menuitem{
        width: 75px;
        height: 60px;    
    }
    .menu{
        line-height: 70px;
        font-size: 12px;
    }
    #logo{
        height: 60px;
    }
}
@media screen and (max-width: 540px){
    #menucontainer{
        height: 45px;
    }
    .menuitem{
        width: 60px;
        height: 45px;    
    }
    .menu{
        line-height: 55px;
        font-size: 10px;
    }
    #logo{
        height: 45px;
    }
}